/* Generale */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.container {
  border: 0px solid black;
  width: 1000px;
  height: 800px;
  border-radius: 15px;
  margin: auto;
  margin-top: 30px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Header */
header {
  text-align: center;
  color: rgba(0, 255, 0, 1);
}

header > img {
  width: 200px;
  margin-top: 80px;
}

/* Nav */
.navigator {
  background-color: rgb(0, 255, 0);
  line-height: 50px;
  text-align: center;
  margin: 15px;
}

/* Main */
section {
  padding: 15px;
  color: white;
  line-height: 25px;
}

main h2 {
  display: inline-block;
}

.loadingbar {
  height: 30px;
  border-radius: 5px;
}

.section1 .loadingbar {
  background-color: rgb(255, 195, 88);
  width: 300px;
}

.section2 .loadingbar {
  background-color: rgb(0, 255, 0);
  width: 500px;
}

.section3 .loadingbar {
  background-color: rgb(204, 0, 0);
  width: 150px;
}
